[submodule "ComfyUI_windows_portable_nvidia/ComfyUI_windows_portable/ComfyUI"]
	path = ComfyUI_windows_portable_nvidia/ComfyUI_windows_portable/ComfyUI
	url = https://github.com/dharapandya85/comfy_extras_app.git
[submodule "comfyui-docker"]
	path = comfyui-docker
	url = https://github.com/dharapandya85/comfy_extras_app.git
